<div class="select _tabs">
	<div class="select__label">
		<div class="select__column">
			<div class="select__title text text_h3">прибытие</div>
			<input type="text" inputmode="numeric" data-mask="date" class="select__select input _arrow_b _tabs-item"
				value="" placeholder="ДД.ММ.ГГГГ">
		</div>
		<div class="select__column">
			<div class="select__title text text_h3">выезд</div>
			<input type="text" inputmode="numeric" data-mask="date" class="select__select input _arrow_b _tabs-item"
				value="" placeholder="ДД.ММ.ГГГГ">
		</div>
	</div>
	<!-- Выбор Даты -->
	<div class="select__body select__body_b _tabs-block">
		<div type="text" id="itsdatepicker"></div>
		<div class="datepicker__buttons">
			<a href="#" type="reset" class="datepicker__button formbtn">очистить</a>
			<a href="#none" type="submit" class="datepicker__button formbtn _tabs-item">применить</a>
		</div>
	</div>
</div>