<div class="select _tabs">
	<div class="select__label">
		<div class="select__column">
			<div class="select__title text text_h3">гости</div>
			<div class="select__select input _arrow_b _tabs-item" placeholder="Сколько гостей"><span>Сколько гостей</span>
			</div>
		</div>
	</div>
	<!-- Выбор гостей -->
	<div class="select__body _tabs-block">
		<div class="select__list">
			<div class="select__row">
				<div class="select__subtitle text text_h3">взрослые</div>
				<div class="select__quantity quantity">
					<div class="quantity__button quantity__button_minus"></div>
					<div class="quantity__input">
						<input autocomplete="off" type="text" class="text text_h3" name="form[]" value="0" readonly>
					</div>
					<div class="quantity__button quantity__button_plus"></div>
				</div>
			</div>
			<div class="select__row">
				<div class="select__subtitle text text_h3">дети</div>
				<div class="select__quantity quantity">
					<div class="quantity__button quantity__button_minus"></div>
					<div class="quantity__input">
						<input autocomplete="off" type="text" class="text text_h3" name="form[]" value="0" readonly>
					</div>
					<div class="quantity__button quantity__button_plus"></div>
				</div>
			</div>
			<div class="select__row">
				<div class="select__subtitle text text_h3">младенцы</div>
				<div class="select__quantity quantity">
					<div class="quantity__button quantity__button_minus"></div>
					<div class="quantity__input">
						<input autocomplete="off" type="text" name="form[]" class="text text_h3" value="0" readonly>
					</div>
					<div class="quantity__button quantity__button_plus"></div>
				</div>
			</div>
		</div>
		<div class="select__buttons">
			<a href="#" type="reset" class="select__btn formbtn">очистить</a>
			<a href="#none" type="submit" class="select__btn formbtn _tabs-item">применить</a>
		</div>
	</div>
</div>