//<Миксины>=======================================================================================================================================================
@import "mixins";
//</Миксины>======================================================================================================================================================

//<Шрифты>========================================================================================================================================================

//<Подключаем шрифты>=============================================================================================================================================
//&display=swap&subset=cyrillic-ext
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>============================================================================================================================================

//<Иконические шрифты>============================================================================================================================================
@import "icons";
//</Иконические шрифты>===========================================================================================================================================

//<Шрифт по умлочанию>============================================================================================================================================
$fontFamily: "OpenSans";
//</Шрифт по умлочанию>===========================================================================================================================================

//</Шрифты>=======================================================================================================================================================

//<Переменные>====================================================================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Переменные>=========================================================================
// <Colors>==========================================================================================================================================================================================================================================
$colorblack100: #1f2041;
$colorblack75: rgba(#1f2041, 0.75);
$colorblack50: rgba(#1f2041, 0.5);
$colorblack25: rgba(#1f2041, 0.25);
$colorblack10: rgba(#1f2041, 0.1);
$colorblack5: rgba(#1f2041, 0.05);
$colorpurlpe: #bc9cff;
$colorgreen: #6fcf97;
$gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
// </Colors>==========================================================================================================================================================================================================================================

// <Обнуление, общие параметры>================================================
@import "null";
body {
	font-family: "OpenSans";
	color: $colorblack75;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	&._lock {
		overflow: hidden;
	}
}
a {
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.4;
	}
}
// </Обнуление, общие параметры>===================================================================================================================================

// <Оболочка>===================================================================================================================================
.wrapper {
	max-width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	&._loaded {
	}
}
// </Оболочка>===================================================================================================================================

// <Основаная сетка>===================================================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
// </Основаная сетка>===================================================================================================================================

// <Подключение файлов UI стилей, форм и готовых классов>===================================================================================================================================
@import "forms";
@import "ui";
// </Подключение файлов UI стилей, форм и готовых классов>===================================================================================================================================

// <Подключение файлов стилей страниц и элементов>===================================================================================================================================
@import "datepickerOrigin";
@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "item";
@import "swiper";
@import "room";
@import "catalog";
@import "login";
//@import "nouislider";
// </Подключение файлов стилей страниц и элементов>===================================================================================================================================
.input {
	display: flex;
	align-items: center;
	background: #ffffff;
	font-size: 14px;
	line-height: 18px;
	color: $colorblack75;
}
// <Основной блок>===================================================================================================================================
.mainpage {
	padding-top: 70px;
	position: relative;
	min-height: 900px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// .mainpage__bg
	&__bg {
		flex: 0 0 100vh;
		z-index: -10;
		position: absolute;
		width: 100%;
		min-height: 900px;
		height: 100vh;
		left: 50%;
		top: 0px;
		transform: translateX(-50%);
	}
	&__content {
	}
	// .mainpage__order
	&__order {
	}
}
// ==========================================================================================================================================================================================================================================
.content-mainpage {
	display: flex;
	justify-content: start;
	align-items: start;
	min-height: calc(100vh - 70px);
	// .content-mainpage__order
	&__order {
		margin-top: 70px;
		max-width: 380px;
		z-index: 1;
	}
}
.order {
	background: #ffffff;
	padding: 40px 30px 30px 30px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	// .oredr__label
	&__label {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin: 0px 0px 21px 0px;
	}
	// .order__title
	&__title {
	}
	// .order__body
	&__body {
		margin: 0px 0px 30px 0px;
	}
	// .order__row
	&__row {
		margin: 0px 0px 20px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .order__btn
	&__btn {
		width: 100%;
	}
}
.btn {
}
// </Основной блок>===================================================================================================================================
.buttons {
	display: flex;
	justify-content: space-between;
	// .buttons__btn
	&__btn {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $colorpurlpe;
		background: transparent;
	}
}
